<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="syncconfig" type="KTT.Config.SyncConfig, KttLog"/>
  </configSections>
  <syncconfig ATT_IP="10.10.90.220" ATT_Port="4370" KTT_URI="https://ktt.korentec.co.il"/>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
