<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="syncconfig" type="KTT.Config.SyncConfig, KttLog"/>
  </configSections>
  <syncconfig ATT_IP="192.168.1.7" ATT_Port="4370" KTT_URI="http://www.korentec.co.il/kttdebug"/>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
